# Arquivos de Build
/dist
/out-tsc
.angular/cache
.angular/browserslist

# Node
/node_modules

# Arquivos de Configuração
.env
.local
.vscode/*.log
.vscode/*.bak
.vscode/*.code-workspace
.vscode/*.suo
.vscode/.eslintcache

# Arquivos de Teste
/coverage
*.spec.js
*.e2e-spec.js

# Arquivos de Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/

# Arquivos de Cache
.sass-cache/
.eslintcache
/tmp

# Arquivos Gerados Automaticamente
*.js
*.map
*.d.ts

# VS Code
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-workspace
.vscode/.history/
.vscode/pylance.trace

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db
